/* General */

button{
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
}

/* main */

main{
    min-height: 88vh;
    width: 100%;
}

.qa-container{
    vertical-align:middle;
    margin: 10px auto 0 auto ;
    width: 95%;
    height: 100%;
}

.question-container_qa{
    color: var(--white);
    min-height: 100px;
    margin-top: 10px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border-left: var(--yellow-green) solid 5px;
    border-bottom: var(--yellow-green) solid 5px; 
}

.img-container_user{
    width: 50px;
    height: 50px;
    border: var(--yellow-green) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.username_user{
    margin-top: 10px;
    cursor: pointer;
}

#img_container{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.text-rating_question{
    flex: 2;
    font-size: 1.2em;
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: column;
}

.category{
    background: var(--lima);
    padding: 5px;
    border-radius: 5px;
}

.text{
    flex:1;
}

.img-container{
    margin-bottom: 10px;
}

.img{
    border-radius: 20px;
}

.useful_rating{
    display: inline-block;
}

.button_useful{
    color: var(--lima);
    transition: 0.5s ease;
}

.unuseful_rating{
    display: inline-block;
}

.button_unuseful{
    color: #8b0404;
}

.fav_rating{
    display: inline-block;
}

.button_fav{
    color: #f9d71c;
}

.date-container_text{
    display: inline-block;
    margin-left: 15px;
}

.datetime{
    color: #678bb1;
}

.answer-container_qa{
    color: var(--white);
    min-height: 150px;
    margin: 20px 0 100px 100px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border-left: var(--pattens-blue) solid 5px;
    border-bottom: var(--pattens-blue) solid 5px; 
}

.form-container_answer{
    flex: 2;
    font-size: 1.2em;
    margin: 0 0 0 30px;
    display: flex;
    flex-direction: column;
}

.text-container-form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title_form{
    color: var(--white);
    width: 50%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--yellow-green);
    transition: .5s ease;
}

.title_form:focus{
    border-bottom: 2px solid var(--pattens-blue);
}

.textarea_form{
    color: var(--white);
    height: 100px;
    resize: none;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--pattens-blue);
    transition: .5s ease;
}

.textarea_form:focus{
    border-bottom: 2px solid var(--yellow-green);
}

.tools-container_form{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.upload-container{
    display: inline-block;
}

#upload{
    display: none;
}

.upload-label{
    color: #000;
    cursor: pointer;
    background: var(--pattens-blue);
    border-bottom: #738997 solid 4px;
    border-radius: 40px;
    padding: 7px 15px 7px 15px;
    transition: .2s ease;
}

.upload-label:active{
    background-color: #738997;
}

.btn_delete-image{
	color: #fff;
	cursor: pointer;
    background: #cc0606;
    border-bottom: #8b0404 solid 4px;
    border-radius: 40px;
    padding: 7px 15px 7px 15px;
    transition: .2s ease;
}

.btn_delete-image:active{
    background: #8b0404;
}

.answer_tools{
    vertical-align: middle;
    background: var(--yellow-green);
    margin-right: 10px;
    padding: 2px;
    border-radius: 40px;
    padding: 3px 5px 3px 5px;
    border-bottom: var(--lima) solid 4px;
    transition: .2s ease;
}

.answer_tools:active{
    background-color: var(--lima);
}

.button_answer{
    color: var(--white);
}