/* General */

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
}

button{
    outline: none;
    background: none;
    cursor: pointer;
}

label{
    color: var(--white);
}


/* main */

main{
    min-height: 88vh;
    width: 100%;
}

.config-text{
    color: var(--white);
    font-size: 2.5em;
    text-align: center;
    margin: 1em 0 .5em 0;
}

.flex-container{
    min-height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container{
    flex: 0 0 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-left: 10px solid var(--yellow-green);
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    margin-bottom: 50px;
}

.form_main-container{
    flex: 0 0 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.user_main-container{
	height:170px;
    width: 170px;
    border-radius: 200px;
    background:none;
    position: relative;
    margin: 20px 0 20px 0;
}

#img_user{
    height: 100%;
    width: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.overlay_user{ 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    opacity: 0;
    background: #aaff5b5e;
    position: absolute;
    top:0;
    left:0;
    transition: .5s ease;
}

.overlay_user:hover {
    opacity: 1;
}

#text_overlay{
    background: var(--lima);
    color: var(--white);
    border: 2px solid var(--conifer);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.imagen{
	display: none;
}

.input-container_form{
	display: flex;
	flex-direction: row;
	width: 90%;
}

.left-column_form, .right-column_form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-column_form input,  .right-column_form input{
    align-self: center;
    flex: 0 0 20px;
    width: 80%;
    color: var(--white);
    border: 2px solid var(--lima);
    border-radius: 10px;
    outline: none;
    background: var(--lima);
    margin: 0 10px 10px 0;
    padding: 7px;
    transition: 0.3s ease;
}

#button-edit_main-container{
    color: var(--white);
    border: 2px solid var(--lima);
    border-radius: 10px;
    margin: 10px 0 20px 0;
    flex: 0 0 50px;
    width: 200px;
    transition: 0.5s ease-out;
}

#button-edit_main-container:hover{
    background-color: var(--lima);
    width: 250px;
}