/* General */

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
}

main{
    height: 88vh;
    width: 100%;
}

/* main */

.errorMainContainer{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.errorContainer{
    display: flex;
    flex-direction: column;
    align-items: center ;
    margin-bottom: 50px;
    
}

.errorHeader{
    color:var(--white);
}

.errorParagraph{
    color:var(--white);
}

.errorSugParagraph{
    color:var(--white);
    font-size: 30px;
    margin-top: 0;
}

.bug-icon{
    color:var(--lima);
    font-size: 50px;
}
