/* Aqui ira el estilo del footer, se repite en todas las paginas */
footer{
    min-height: 12vh;
    width: 100%;
	padding-top: 20px;
    background: var(--madison);
   	color: var(--white);
}

.link{
	color: var(--white);
	transition: 0.2s;
}

.link:hover{
	color: var(--lima);	
}

.grid-container{
	display: grid;
    grid-template-columns: auto auto auto auto auto;
	grid-row-gap: 20px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.category-title{
	margin: 0 0 20px 40px;
    text-align: center;
}