/* General */
button{
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
}

/* main */

main{
    min-height: 200vh;
    width: 100%;
    display: flex;
}

.left-side_main{
    flex: 3;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.qa-container_left-side{
    flex: 0 0 95%;
    height: 95%;
}

.bar_qa-container{
    width: 100%;
    background: var(--lima);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: var(--pattens-blue) solid 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button_bar{
    flex: 1;
    color: var(--white);
    padding: 5px;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s ease;
}

.button_bar:hover{
    background: var(--yellow-green);
}

.counter_button{
    color: var(--pattens-blue);
    font-size: .7em;
    border-radius: 100px;
    margin-left: 3px;
    padding: 2px 3px 1px 3px;
    background: var(--cello);
    vertical-align: top;
}

.qa_qa-container{
    color: var(--white);
    min-height: 100px;
    margin-top: 10px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border: transparent solid 0px;
    transition: 0.3s ease;
}

.qa_qa-container:hover{
    border-left: var(--yellow-green) solid 5px;
    border-bottom: var(--yellow-green) solid 5px; 
}

.img-container_qa{
    width: 50px;
    height: 50px;
    border: var(--yellow-green) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.img-container_user{
    width: 50px;
    height: 50px;
    border: var(--yellow-green) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.username-qa{
    margin-top: 10px;
    cursor: pointer;
}

.username_user{
    margin-top: 10px;
    cursor: pointer;
    color: var(--white);
}

#img_user-qa{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

#img_container{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.link_qa{
    flex: 2;
    font-size: 1.2em;
    margin: 0 0 0 30px;
    color: var(--white);
}

.button-container_qa-container{
    margin: 10px;
    text-align: center;
}

.btn_button-container {
    color: var(--white);
    width: 100px;
    height: 30px;
    background: var(--yellow-green);
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px;
    transition: .2s ease;
    margin: 0 5px 0 5px;
}

.counter_button-container{
    display: inline-block;
    color: var(--white);
}

.btn_button-container:active {
    background: var(--lima);
}

.right-side_main{
    flex: 1;
    display: flex;
    margin-top: 20px;
    align-items:flex-start;
    justify-content: center;
}

.user-container_right-side{
    flex: 0 0 75%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 10px solid var(--yellow-green);
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);

}

.img-container_user-profile{
    flex: 0 0 30%;
    width: 65%;
    border-radius: 200px;
}

#img_user{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.info_user{
    padding-left: 10px;
    padding-right: 10px;
}

.info_user > p{
    color: var(--white);
    background-color: var(--cello);
    border-radius: 70px;
    padding: 5px 10px 5px 15px;
    /* margin: 17px 0 17px 0; */
}

.button_user{
    color: var(--white);
    flex: 0 0 30px;
    width: 100px;
    background: var(--yellow-green);
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px;
    transition: .2s ease;
}

.button_user:active{
    background: var(--lima);
}
