/* General */

button{
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
}

/* main */

main{
    min-height: 88vh;
    width: 100%;
}

.qa-container{
    vertical-align:middle;
    margin: 10px auto 0 auto ;
    width: 95%;
    height: 100%;
}

.question-container_qa{
    color: var(--white);
    min-height: 100px;
    margin-top: 10px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border-left: var(--yellow-green) solid 5px;
    border-bottom: var(--yellow-green) solid 5px; 
}

.img-container_user{
    width: 50px;
    height: 50px;
    border: var(--yellow-green) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.correct-img-container_user{
    width: 50px;
    height: 50px;
    border: var(--pattens-blue) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.username_user{
    margin-top: 10px;
    cursor: pointer;
}

#img_container{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.text-rating_question{
    flex: 2;
    font-size: 1.2em;
    margin: 0 0 0 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.form-erase-answer{
    display: flex;
    justify-content: flex-end;
}

.category-erase_text{
    display: flex;
    justify-content: space-between;
}

.button-erase{
    color: #bd1a1a;
}

.useful_rating{
    display: inline-block;
}

.unuseful_rating{
    display: inline-block;
}

.fav_rating{
    display: inline-block;
}

.correct-button_useful{
    color: var(--madison);
    transition: 0.5s ease;
}

.correct-button_useful:hover{
    color: #517a12;
}

.button_useful{
    color: var(--madison);
    transition: 0.5s ease;
}

.button_useful:hover{
    color: var(--lima);
}

.button_unuseful{
    color: var(--madison);
    transition: 0.5s ease;
}

.button_unuseful:hover{
    color: #8b0404;
}

.button_fav{
    color: var(--madison);
    transition: 0.5s ease;
}

.button_fav:hover{
    color: #f9d71c;
}

.button_edit{
    color: var(--white);
}

.correct-button_edit{
	color: var(--pattens-blue);
}

.edit_text{
    float: right;
}

.button_edit{
    color: var(--lima);
}

.category{
    background: var(--lima);
    padding: 5px;
    border-radius: 5px;
}

.date-container_text{
    display: inline-block;
    margin-left: 15px;
}

.datetime{
    color: #678bb1;
}

.correct-datetime{
	color: var(--madison);
}

.img-container{
    margin-bottom: 10px;
}

.img{
    border-radius: 20px;
}

.answer-container_qa{
    color: var(--white);
    min-height: 100px;
    margin: 20px 0 0 100px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border-left: var(--pattens-blue) solid 5px;
    border-bottom: var(--pattens-blue) solid 5px; 
}

.correct-answer_qa{
	color: var(--white);
    min-height: 100px;
    margin: 20px 0 0 100px;
    border-radius: 10px 50px 10px 50px;
    background: var(--lima);
    padding: 15px 20px 10px 20px;
    display: flex;
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px; 
}

.button-container_qa-container{
    margin: 20px;
    text-align: center;
}

.btn_button-container {
    color: var(--white);
    width: 100px;
    height: 30px;
    background: var(--yellow-green);
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px;
    transition: .2s ease;
    margin: 0 5px 0 5px;
}

.counter_button-container{
    display: inline-block;
    color: var(--white);
}

.btn_button-container:active {
    background: var(--lima);
}

.correct-button_user{
    display: block;
    margin: 10px auto;
    font-size: 3em;
    color: var(--lima);
}

.text{
    flex:1;
}

.answer_text{
    float: right;
    background: var(--pattens-blue);
    margin-right: 10px;
    padding: 2px;
    border-radius: 40px;
    border-bottom: #738997 solid 4px;
    transition: .2s ease;
}

.answer_text:active{
    background-color: #738997;
}

.editado-pregunta{
	font-style: italic; 
	display: inline-block; 
	margin: 0 0 0 20px;
	text-align: center;
}

.editado-respuesta{
	flex: 1;
	font-style: italic; 
	margin: 0;
}

.correct-answer-container{
	display: inline-block;
}


.correct-input{
	display: none;
}

.correct-label{
	cursor: pointer;
	color: var(--madison);
	margin-left: 10px;
	transition: 0.5s ease;
}

.correct-label:hover{
	color: var(--lima);
}

.correct-selected-label{
	cursor: pointer;
	color: #a7e449;
	margin-left: 10px;
	transition: 0.5s ease;
}

.correct-selected-label:hover{
	color: var(--madison);
}