/* General */

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
}

button{
    outline: none;
    background: none;
    cursor: pointer;
}

label{
    color: var(--white);
}


/* main */

main{
    min-height: 88vh;
    width: 100%;
    display: flex;
}

.left-side_main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bluewhale);
}

.message_left-side, .message_left-side > a{
    color: var(--white);
    text-align: center;
}

#asking_left-side{
    font-size: 5em;
    transition: 0.5s ease;
}

#asking_left-side:hover{
    color:var(--lima);
}

#subtitle_left-side{
    font-size: 1.1em;
}

.right-side_main{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container_right-side{
    flex: 0 0 80%;
    width: 50%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-left: 10px solid var(--yellow-green);
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    margin: 20px 0 20px 0;
}

.form_main-container{
    flex: 0 0 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.user_main-container{
    height: 170px; /* Revisar estas medidas  opciones: 35% x 30% 150px x 150px*/
    width: 170px;
    border-radius: 200px;
    background:none;
    position: relative;
    margin: 20px 0 20px 0;
}

#img_user{
    height: 100%;
    width: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.overlay_user{ 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    opacity: 0;
    background: #aaff5b5e;
    position: absolute;
    top:0;
    left:0;
    transition: .5s ease;
}

.overlay_user:hover {
    opacity: 1;
}

#text_overlay{
    background: var(--lima);
    color: var(--white);
    border: 2px solid var(--conifer);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.imagen{
	display: none;
}

.input-container_form{
	display: flex;
	flex-direction: row;
	width: 90%;
}

.left-column_form, .right-column_form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-column_form input,  .right-column_form input{
    align-self: center;
    line-height: 30px;
    flex: 0 0 20px;
    width: 80%;
    color: var(--white);
    border: 2px solid var(--lima);
    border-radius: 10px;
    outline: none;
    background: var(--lima);
    margin: 0 10px 10px 0;
    padding: 0 7px 0 7px;
    transition: 0.3s ease;
}

#button-signup_main-container{
    color: var(--white);
    border: 2px solid var(--lima);
    border-radius: 10px;
    margin: 10px 0 20px 0;
    flex: 0 0 50px;
    width: 200px;
    transition: 0.5s ease-out;
}

#button-signup_main-container:hover{
    background-color: var(--lima);
    width: 250px;
}