/* General */
label.error{
	display: block;
	color: #8b0404;
}

/* Main error */
label.login-error, label.signup-error, label.edit-error, label.question-error, label.answer-error{
	display: block;
	color: #8b0404;
}

input.login-error:focus, input.signup-error:focus, input.edit-error:focus{
	background: #8b0404;
}


/* Login */
label.login-error {
	width: 230px;
	margin-top: 5px;
	word-wrap: break-word;
}

input.login-error{
	border: 2px solid #8b0404;
}

/* Sign up y edit*/

label.signup-error, label.edit-error{
	margin-bottom: 10px;
}

input.signup-error, input.edit-error{
	border: 2px solid #8b0404;
}

/* Question & Answer */

input.question-error, input.question-error:focus, textarea.answer-error, textarea.answer-error:focus{
	border-bottom: 2px solid #8b0404;
}

label.question-error, label.answer-error{
	margin-top: 10px;
}