/* Aqui ira el estilo del footer, se repite en todas las paginas */

footer{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--madison);
    color:var(--pattens-blue);
}
