/* General */
button{
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
}

/* main */

main{
    min-height: 88vh;
    width: 100%;
}

.qa-container{
    vertical-align:middle;
    margin: 10px auto 0 auto ;
    width: 95%;
    height: 100%;
}

.askbar_qa-container{
    color: var(--white);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: var(--lima);
    border-radius: 30px;
}

.button_askbar{
    font-size: .7em;
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    border-left: #800000 solid 5px;
    border-bottom: #800000 solid 5px;
    background: #c90000;
    transition: .2s ease;
}

.button_askbar:active{
    background: #a00000;
}

.qa_qa-container{
    color: var(--white);
    min-height: 100px;
    margin-top: 10px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border: transparent solid 0px;
    transition: 0.3s ease;
}

.qa_qa-container:hover{
    border-left: var(--yellow-green) solid 5px;
    border-bottom: var(--yellow-green) solid 5px; 
}

.img-container_user{
    width: 50px;
    height: 50px;
    border: var(--yellow-green) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.username_user{
    margin-top: 10px;
    cursor: pointer;
}

#img_container{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.text_qa{
    flex: 2;
    font-size: 1.2em;
    margin: 0 0 0 30px;
    cursor: pointer;
}

.button-container_qa-container{
    margin: 10px;
    text-align: center;
}

.btn_button-container {
    color: var(--white);
    width: 100px;
    height: 30px;
    background: var(--yellow-green);
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px;
    transition: .2s ease;
    margin: 0 5px 0 5px;
}

.counter_button-container{
    display: inline-block;
    color: var(--white);
}

.btn_button-container:active {
    background: var(--lima);
}