/* General */

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
}

main{
    height: 88vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */

.form-container{
    width: 50%; /* Usaremos medidas absolutas o relativas? */
    height: 50%;
    display: flex;
}

.leftside-form{
    background-color: var(--lima);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-radius: 10px 0 0 70px;
}

#asking_form{
    font-size: 6.25em;
    color: var(--white);
}

.rightside-form{
    background: var(--bluewhale);
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-right: 10px solid var(--yellow-green);
    border-radius: 0 70px 10px 0;
}

.rightside-form input{
    background: none;
    border: none;
    outline: none;
    color: var(--white);
    border: 2px solid var(--lima);
    border-radius: 10px;
    flex-basis: 30px;
    padding: 7px;
    width: 230px;
    transition: 0.3s ease;
}

.rightside-form input::placeholder{
    color: var(--white);
}

.rightside-form input:focus{
    background: var(--lima);
}

.rightside-form button{
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--lima);
    color: var(--white);
    flex-basis: 30px;
    width: 100px;
    transition: 0.5s ease;
}

.rightside-form button:hover{
    width: 230px;
}

.registration_form, .registration_form > a{
    color: var(--white);
    font-size: 1em;
    transition: 1s;
}

.registration_form > a:hover{
    color: var(--yellow-green);
}