/* General */
*{
    text-decoration: none;
}

:root{
    --yellow-green: #88C92A;
    --lima: #77B61B;
    --pattens-blue: #C2E8FF;
    --cello: #384D63;
    --madison: #2D3E50;
    --white: #ffffff;
    --conifer: #aaff5b;
    --black: #000;
    --bluewhale: #415774;
}

header{
    height: 12vh;
    width: 100%;
}

nav{
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Top-Bar Navegation */

.top-nav{
    height: 7vh;
    background: var(--yellow-green);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#asking_top-nav{
    font-size: 1.7em;
    font-weight: 400;
    color: var(--white);
    margin-left: 1em;
    flex-grow: 1; /*checar si esto funciona correctamente */
}

.user_top-nav{
    font-size: 1.2em;
    margin-right: 1em;
    flex-grow: 1; /*checar si esto funciona correctamente */
    text-align: end;
}

.guest-text_top-nav{
    color:var(--white);
    margin-right: 1em;
}

.guest-icon_top-nav{
    color:var(--white);
}

.signout-icon_top-nav{
    color: var(--white);
    margin-right: 1em;
}

.search_top-nav{
    display: flex; /*checar si esto funciona correctamente */
    flex-grow: 1; /*checar si esto funciona correctamente */
    height: 30px;
    padding-left: 1em;
    background: var(--lima);
    border-radius: 1em;
}

.search_top-nav input{
    background: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

.search_top-nav button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 0.3em;
}

/* Bottom-Bar Navegation */

.bottom-nav{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--lima);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bottom-nav a{
    color: var(--white);
    transition: 0.5s;
}

.bottom-nav a:first-child{
    color: var(--black);
}

.bottom-nav a:hover{
    color: var(--conifer);
    font-size: 110%; /* Ver si se puede cambiar a transform */
}