/* General */
button{
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
}

body{
    background-color: var(--cello);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--white);
}

input, select{
    background: none;
    outline: none;
    border: none;
}

/* main */

main{
    min-height: 88vh;
    width: 100%;
    display: flex;
}

.left-side{
    flex: 1;
}

.search-container_left{
    background: var(--bluewhale);
    margin: 40px 50px 40px 50px;
    padding: 20px 30px 20px 20px;
    border-bottom: var(--pattens-blue) solid 5px;
    border-top: var(--pattens-blue) solid 5px;
    border-radius: 10px 50px 10px 50px;
    min-height: 500px;
}

.form_search-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.form_search-container > div{
    width: 100%;
}

.form_search-container input, .form_search-container select{
    color: var(--white);
    border: var(--lima) solid 2px;
    border-radius: 20px;
    padding: 3px 12px 3px 12px;
    transition: 0.2s ease-out;
}

.form_search-container input:focus, .form_search-container select:focus{
    background: var(--lima);
}

.input_search-bar{
    width: 90%;
    margin-top: 10px;
}

.categories_search-container{
    margin-top: 10px;
}

.dropdown_categories{
    margin-top: 10px;
}

.frominput_from{
    margin-top: 10px;
}

.toinput_to{
    margin-top: 10px;
}

.from-container_date-range{
    margin-top: 10px;
}

.to-container_date-range{
    margin-top: 10px;
}

.useful_search-container{
    margin-top: 10px;
}

.fav_search-container{
    margin-top: 10px;
}   
.input_fav{
    margin-top: 10px;
}

.input_useful{
    margin-top: 10px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.button_form{
    color: var(--white);
    width: 80px;
    height: 30px;
    margin: 10px auto 0;
    background: var(--yellow-green);
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px;
    transition: .2s ease;
}

.button_form:active{
    background: var(--lima);
}

.right-side{
    flex: 3;
}

.qa-container{
    vertical-align:middle;
    margin: 10px auto 0 auto ;
    width: 95%;
    height: 100%;
}

.askbar_qa-container{
    color: var(--white);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: var(--lima);
    border-radius: 30px;
}

.button_askbar{
    font-size: .7em;
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    border-left: #800000 solid 5px;
    border-bottom: #800000 solid 5px;
    background: #c90000;
    transition: .2s ease;
}

.button_askbar:active{
    background: #a00000;
}

.qa_qa-container{
    color: var(--white);
    min-height: 100px;
    margin-top: 10px;
    border-radius: 10px 50px 10px 50px;
    background: var(--bluewhale);
    padding: 15px 20px 10px 20px;
    display: flex;
    border: transparent solid 0px;
    transition: 0.3s ease;
}

.qa_qa-container:hover{
    border-left: var(--yellow-green) solid 5px;
    border-bottom: var(--yellow-green) solid 5px; 
}

.img-container_user{
    width: 50px;
    height: 50px;
    border: var(--yellow-green) solid 2px;
    border-radius: 200px;
    margin: auto;
    cursor: pointer;
}

.username_user{
    margin-top: 10px;
    cursor: pointer;
}

#img_container{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    object-fit: cover;
}

.text_qa{
    flex: 2;
    font-size: 1.2em;
    margin: 0 0 0 30px;
    cursor: pointer;
}

.button-container_qa-container{
    margin: 10px;
    text-align: center;
}

.btn_button-container {
    color: var(--white);
    width: 100px;
    height: 30px;
    background: var(--yellow-green);
    border-left: var(--lima) solid 5px;
    border-bottom: var(--lima) solid 5px;
    transition: .2s ease;
    margin: 0 5px 0 5px;
}

.counter_button-container{
    display: inline-block;
    color: var(--white);
}

.btn_button-container:active {
    background: var(--lima);
}